<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
    <link href="https://api.fontshare.com/v2/css?f[]=aktura@400&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/59fd3ac906.js" crossorigin="anonymous"></script>
</head>
<body>
    <a href="/home"><i class="fa-solid fa-house homebtn"></i></a>
    <h1>About</h1>
    <div class="purpose">
        <div class="container">
            <h3>Goal of ShareHub</h3>
            <p>
                "Sharehub" emerges as an innovative e-commerce platform developed collaboratively by a dedicated team of three individuals. This dynamic web application operates on a donation-based model, inviting users to contribute items for giveaway, which are prominently featured within its catalog. Additionally, users have the freedom to request specific items they desire, fostering a sense of community and engagement.
                <br>
                <br>
                Functioning beyond a typical exchange platform, Sharehub serves as a digital space that encourages acts of kindness and resource sharing. Through its intuitive interface and interactive features, the platform aims to create a seamless experience for users seeking to contribute or find items of interest.
                <br>
                <br>
                The project's development journey sharpened skills in full-stack web development, database management, and user interaction design. Sharehub embodies a vision of an inclusive and compassionate online community, where individuals come together to support one another.
                <br>
                <br>
                With a focus on user experience and community building, Sharehub provides a modern and efficient tool for facilitating connections and promoting goodwill. The platform's ethos revolves around creating a welcoming space for sharing resources and fostering a culture of generosity.
            </p>
        </div>
    </div>
    <div class="developers">
        <h3>Developed by</h3>
        <p><b>Abrar Fais Mohammed</b> (MS Computer Science)
            <br>email: abrarfaizmohammed@gmail.com
        </p>
        <p><b>Vamshi Krishna Mummadi</b> (MS Computer Science)
            <br>email: vamshikrishnamummadi@gmail.com
        </p>
        <p><b>Vishnu Vulli</b> (MS Computer Science)
            <br>email: vishnuvulli20@gmail.com
        </p>
    </div>
</body>
</html>