<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareHub</title>
    <link rel="stylesheet" href="updatepassword.css">
 <link rel="icon" href="./ShareHubLogo.png" />
    <script src="https://kit.fontawesome.com/59fd3ac906.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
        <a href="/home"><i class="fa-solid fa-house homebtn"></i></a>
        <h1 class="page-title">Reset your password!!</h1>
        <form class="resetpassword-form" action="/security" method="post">
         <div class="newpasswordfields"><label for="newpassword">New Password:</label>
            <span class="updatepassword-form-group-input-span"><input type="password" id="newpassword" name="newpassword"
                class="login-form-group-input" required><i class="fa-regular fa-eye" id="eye-icon"></i></span></div> <br/>
           <div class="confirmpasswordfields"><label for="confirmpassword">Confirm Password:</label>
            <input class="confirmpassword" id="confirmpassword" name="confirmpassword" type="password"  required></div><br/>
            <p class="errmessage"><%=message%></p>
            <button class="updatebtn" type="submit">Update</button>
        </form>
    </div>
</body>
 <script>
                let eyeicon = document.getElementById("eye-icon");
                let password = document.getElementById("newpassword");

                eyeicon.onclick=()=>{
                    if(password.type == "password"){
                        password.type = "text";
                        eyeicon.className = "fa-solid fa-eye";
                    }else{
                        password.type = "password";
                        eyeicon.className = "fa-regular fa-eye";
                    }
                }
    </script>
</html>
