*{
    margin:0;
    padding:0;
    z-index:1
}
body{ 
    background-color: #ffeaea;
}
.main-container{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-300px;
    margin-top:-160px;
    height:210px;
    width:550px;
    border-radius:10px;
    padding:50px 0;
    z-index:2;    
    background-color:#FEFCFF;
    box-shadow:1px 1px 5px black;
}

.page-title{
    text-align:center;
}

.resetpassword-form{
    width:450px;
    height:120px;
    margin:20px auto;
}

.updatebtn{
   width:100px;
   height:35px;
   border-radius:5px;
   position:relative;
   left:45%;
   margin-left:-20px;
   caret-color:transperent;
   cursor:pointer;
   background-color:rgb(255, 51, 51);
   border:none;
   color:white;
}

.updatebtn:hover{
    background-color:black;
    color:white;
}
.newpasswordfields{
    width:max-content;
    height:max-content;
    margin:auto;
    margin-bottom:5px;
}
.confirmpasswordfields{
    width:max-content;
    height:max-content;
    margin:auto;
    margin-left:27px;
}
.updatepassword-form-group-input-span{
    display:inline-block;
    width:230px;
    height:25px;
    background-color:#edecee;
    padding:5px 2px;
    border-radius:10px;
    margin-left:6px;
}

.login-form-group-input{
    background-color:#edecee;
    border:none;
    outline:none;
    height:25px;
    width:200px;
    padding:0 3px;
}

.confirmpassword{
    display:inline-block;
    background-color:#edecee;
    border:none;
    outline:none;
    width:230px;
    height:25px;
    padding:5px 2px;
    border-radius:10px;
    position:relative;
    left:8px;
}

.errormessage{
    color:red;
}

.errmessage{
    width:max-content;
    margin:auto;
}

.homebtn{
    position:absolute;
    top:15px;
    left:15px;
    cursor:pointer;
    color:rgb(255, 51, 51);
}

/*************mobile design****************/

@media only screen and (max-width:525px){
    .main-container{
        margin-left:-180px;
        margin-top:-160px;
        height:210px;
        width:350px;
    }
    .updatepassword-form-group-input-span{
        width:160px;
    }
    .login-form-group-input{
        height:25px;
        width:130px;
    }
    .confirmpassword{
        width:160px;
        left:0px;
    }
    .newpasswordfields{
        width:80%;
    }
    .resetpassword-form{
        width:350px;
    }
}